# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
terraform.tfvars
terraform.tfvars.json
*.backup
*.out
# Local
*.log
# Existing entries
.terraform.lock.hcl
.terraform.state
terraform.state

clients/

terraform.exe
